.Game {
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid black;
	&:last-of-type {
		padding-bottom: 0px;
		border-bottom: none;
	}
	&:first-of-type {
		padding-top: 0px;
	}


	.GameName {
		text-align: left;
	}
	.GameDate {
		// float: right;
		text-align: right;
	}
	.GameDescription {
		text-align: center;
		ul {
			li {
	
			}
		}
	}
}

