.HeaderList {
    white-space: nowrap;
    >* {
        margin: 8px;
    }
    li {
        list-style-type: none;
        display: inline;
    }
    .Links {
        display: inline;
        >* {
            //Style the buttons
        }
    }
}