// hand coppied from the theme in index.tsx

$primary-light: #eed1ff;
$primary-main: #bba0e5;
$primary-dark: #a38cd8;
$secondary-light: #deecff;
$secondary-main: #acbae5;
$secondary-dark: #90ace5;
$error-main: #d836d3;

$bw-dark: #000000;
$bw-mid: #333333;
$bw-light: #f7f7f7;
// $bw-light: #ffffff;